<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>Edit Post</h2>

  <form action="/delete-post/<%= data._id %>?_method=DELETE" method="post" onsubmit="return confirm('Are you sure you want to delete this post?');">
    <input type="submit" value="Delete" class="btn-delete btn">
  </form>
  
</div>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="post">

  <label for="title"><b>Title</b></label>
  <input type="text" id="title" placeholder="Post Title" name="title" value="<%= data.title %>"/>

  <label for="body"><b>Content</b></label>
  <textarea name="body" id="body" cols="50" rows="10" placeholder="Enter your content here..."><%= data.body %></textarea>

  <input type="submit" value="Update" class="btn"/>

</form>