<h3>Sign in</h3>

<form action="/admin" method="post">

  <label for="sign_in_username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username" id="sign_in_username">
  
  <label for="sign_in_password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" id="sign_in_password">
  
  <input type="submit" value="Login" class="btn">


</form>

<h3>Register</h3>

<form action="/register" method="post">

  <label for="register_username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username" id="register_username">
  
  <label for="register_password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" id="register_password">
  
  <input type="submit" value="Register" class="btn">


</form>